<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.okgo.mybatis.dao.UserDao">
    <!--<cache
            eviction="FIFO"
            flushInterval="60000"
            size="512"
            readOnly="true"/>-->

    <cache type="org.mybatis.caches.ehcache.EhcacheCache"/>

    <resultMap id="UserMap" type="User">
        <!--column数据库中的字段，property实体类中的属性-->
        <result column="id" property="id"/>
    </resultMap>

    <select id="getUserByLimit" parameterType="map" resultType="User" useCache="true">
        select * from miaosha.user_info limit #{startIndex}, #{pageSize}
    </select>

    <select id="getUserList" resultType="User" resultMap="UserMap">
        select * from miaosha.user_info
    </select>

    <select id="getUserById" resultType="com.okgo.mybatis.model.User" parameterType="int">
       /*定义sql*/
       select * from miaosha.user_info where id = #{id};
   </select>

    <!--对象中的属性可以直接取出来-->
    <insert id="addUser" parameterType="com.okgo.mybatis.model.User">
        insert into miaosha.user_info (id, name, gender, age, telephone) values (#{id},#{name},#{gender},#{age},#{telephone});
    </insert>

    <!--对象中的属性，可以直接取出来 parameterType=传递map中的key-->
    <insert id="addUser2" parameterType="map">
        insert into miaosha.user_info (id, name, telephone) values (#{userId},#{userName},#{telephone});
    </insert>

    <update id="updateUser" parameterType="com.okgo.mybatis.model.User">
        update miaosha.user_info
        set id=#{id},name = #{name},gender=#{gender},age=#{age},telephone=#{telephone}
        where id=#{id} ;
    </update>

    <delete id="deleteUser" parameterType="int">
        delete from miaosha.user_info where id = #{id};
    </delete>
</mapper>